html {

    background-image: url("../images/West_Side_Story_Background.png");
    background-size: cover;
    width: auto;
    min-height: 190vh;
    font-family: Arial, Helvetica, sans-serif; 

}

.poster { 
    
    color: white;
    
}

/* TOP QUOTE */

.quote p {
    position: absolute;
    top: 45px;
    left: 300px;
    font-size: 1.5rem;
    line-height: 4rem;
}

/* TITLE BLOCK */

.title-block {
    position: absolute;
    top: 375px;
    left: 725px;
    text-align: right;
}
.title-block h1 {
    margin-top: 0;
    margin-bottom: 0;
    
}

.title-block h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}
.title-block h3 {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: 0;
}

em {
    font-size: 0.75rem;
}

/* CREDITS */

.credits {
    position: absolute;
    top: 57%;
    left: 30%;
    text-align: right;
    
}

.credits h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.credits h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}
