body {
font-family: Arial, sans-serif;
margin: 20px;
background-color:white;
}


h1 {
color: black;
}


h2 {
color: darkgray;
}


p, ul, li {
font-size: 16px;
color: black;
}


a {
color: blue;
}


img {
border: 3px solid grey;
border-radius: 8px;
}


ul {
background: lightgrey;
padding: 10px;
border-radius: 8px;
}